<h1> Dan's DB Scraper </h1>

<h2>raw</h2> 
<%=@raw%>

raw data
<%=@raw_data%>

<h2>models</h2>
<%=@models.inspect%>

<h2>model urls</h2>
<%=@model_urls.inspect%>


<h2>all relationships </h2>

<% @all_relationships.each_with_index do |relationships,i| %>
	<h3> Model <%=@models[i]%>'s relationships </h3>
	<%= relationships.inspect %>
<% end %>

<h2>Raw DB Schema data </h2>
<%=@db_schema_data%>

<h2> All Table Data </h2>
<%=@all_table_data%>


<% @model_to_data.each do |m, data|%>
	<h2>Model <%=m%> </h2>
	<%= data %>
	<div hidden class=<%=m%>> <%=data %> </div>
<% end %>

<br><br><br>

<div class="mouse tooltip" >Mouse-tracking HTML Tip</div>


<%= link_to "Download PDF", "#{@graph_title}" + ".pdf" %>

<%= inline_svg("graph.svg") %>