<h1> Dan's DB Scraper </h1>

<h2>raw</h2> 
<%=@raw%>

raw data
<%=@raw_data%>

<h2>models</h2>
<%=@models.inspect%>

<h2>model urls</h2>
<%=@model_urls.inspect%>


<h2>all relationships </h2>

<% @all_relationships.each_with_index do |relationships,i| %>
	<h3> Model <%=@models[i]%>'s relationships </h3>
	<%= relationships.inspect %>
<% end %>

<h2>Raw DB Schema data </h2>
<%=@db_schema_data%>

<h2> All Table Data </h2>
<%=@all_table_data%>


<% @all_table_data_strs.each_with_index do |x,i|%>
	<h2> table <%=i%> </h2>
	<%= @all_table_data_strs[i] %>
<% end %>

<br><br><br>
<%= link_to "Download PDF", "#{@graph_title}" + ".pdf" %>
<%=image_tag("graph.png")%>


