<h1> Test </h1>

<h2>raw</h2> 
<%=@raw%>

raw data
<%=@raw_data%>

<h2>All URLS </h2>
<%=@directory_urls %>
<h2>models</h2>
<%=@models.inspect%>

<h2>model urls</h2>
<%=@model_urls.inspect%>

<h2>all relationships </h2>

<% @all_relationships.each_with_index do |relationships,i| %>
	<h3> Model <%=i%>'s relationships </h3>
	<%= relationships.inspect %>
<% end %>
<nav> 
	<li> <%= link_to "Visualize another project", root_path %>  </li>
</nav>



<div class="mouse tooltip" >Mouse-tracking HTML Tip</div>

<%= inline_svg("graph.svg") %>