<!DOCTYPE html>
<html>
<head>
  <title>ScraperTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav> 
	<li> <%= link_to "Visualize another project", root_path %>  </li>
</nav>

<%= yield %>

</body>
</html>
